@import "~bootstrap/scss/bootstrap";


$m-width: "md";
$m-height: 550px;

body {
  color: #333;
  font: 14px/22px serif, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin: 0 0 20px;
}

a {
  color: #333 !important;
  text-decoration: none;
  &:hover {
    filter: opacity(0.5);
    text-decoration: none;
  }
}

hr {
  border-top-color: #cbcbcb;
  margin-bottom: 20px;
}

ul {
  list-style-image: none;
}

li {
  margin-left: -1.5rem
}

.fab {
  display: inline-block;
  background-repeat: no-repeat !important;
  height: 18px;
  width: 18px;
}

.fa-web {
  background: url(../images/fontawesome/web.svg);
}

.fa-file-pdf {
  background: url(../images/fontawesome/file-pdf.svg);
}

.fa-github {
  background: url(../images/fontawesome/github.svg);
}

.fa-stack-overflow {
  background: url(../images/fontawesome/stack-overflow.svg);
}

.fa-linkedin {
  background: url(../images/fontawesome/linkedin-in.svg);
}

.web-only {
  display: inline-block;
}

.print-only {
  display: none;
}

header {
  padding: 5px 20px 10px 20px;
  border-bottom: 1px solid #cbcbcb;
  text-align: center;
  color: black;
  margin: 0px 10px !important;

  h1 {
    margin: auto;
  }

  p, address {
    margin: auto;
    font-size: 18px
  }  
}

nav {
  height: 100%;
  text-align: right;

  ul {
    list-style: none;

    .tag-h2 a {
        font-weight: bold;
    }   
  }

  .navbar {
    padding: 0px 10px 10px 0px;
  }

  .active {
    text-decoration: underline !important;
  }
}

.nav-link {
  padding: .1rem 1rem;
}

#view {
  padding: 0px;
}

#area {
  height: calc(100vh - 152px);
  border: solid white 10px;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}


#scrollable {
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

#content {
  padding: 20px;
  border-radius: 3px;
  border: 1px solid #cbcbcb;
}


::-webkit-scrollbar {
    display: none;
}


@media (max-width: map-get($grid-breakpoints, $m-width) - 0.02), (max-height: $m-height - 0.02) {
  nav {
    height: initial;
    text-align: center;
  }

  #area {
    height: calc(100vh - 50px);
    max-width: initial;    
  }
}


@media (min-width: map-get($grid-breakpoints, $m-width)) and (min-height: $m-height) { 
  header {
    display: block !important;
  }
}


@media print {
  a:not(.btn) {
    text-decoration: none;

  }

  header {
    display: block;
    text-align: left;
    padding-bottom: 40px;
  }

  nav {
    height: initial;
  }

  #scrollable {
    height: initial;
    overflow-y: initial;
    max-width: 100%;
    width: initial;
    flex: initial;
  }

  #content {
    border: none;
    max-width: initial;
    padding-top: 10px;
  }

  .web-only {
    display: none;
  }

  .print-only {
    display: inline-block;
  }

}



.col-md-md-2, .col-md-md-3, .col-md-md-6, .col-md-md-8, .col-md-md-9 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: map-get($grid-breakpoints, $m-width)) and (min-height: $m-height) {
  .col-md-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
}

@media (min-width: map-get($grid-breakpoints, $m-width)) and (min-height: $m-height) {
  .col-md-md-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
}

@media (min-width: map-get($grid-breakpoints, $m-width)) and (min-height: $m-height) {
  .col-md-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: map-get($grid-breakpoints, $m-width)) and (min-height: $m-height) {
  .col-md-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (min-width: map-get($grid-breakpoints, $m-width)) and (min-height: $m-height) {
  .col-md-md-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
}

@media (min-width: map-get($grid-breakpoints, $m-width)) and (min-height: $m-height) {
  .navbar-expand-md-md {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
}

@media (min-width: map-get($grid-breakpoints, $m-width)) and (min-height: $m-height) {
  .navbar-expand-md-md {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-md-md .navbar-nav {
    flex-direction: row;
  }
    .navbar-expand-md-md .navbar-nav .nav-link {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
  .navbar-expand-md-md > .container,
  .navbar-expand-md-md > .container-fluid {
    flex-wrap: nowrap;
  }
  .navbar-expand-md-md .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-md-md .navbar-toggler {
    display: none;
  }
}
