---
---

@import "bootstrap/bootstrap";

body {
  color: #333;
  font: 14px/22px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin: 0 0 20px;
}

a {
  color: #333 !important;
  &:hover {
    color: #999 !important;
    text-decoration: none;
    }
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  background: none;
  margin: 0 0 20px;
}

ul {
  list-style-image: none;
}

li {
  margin-left: -1.5rem
}


#header {
  padding: 10px 20px 10px 20px;
  border-bottom: 1px solid #cbcbcb;
  text-align: center;
  color: black;
  margin: 0px -5px;

  h1 {
    margin: auto;
  }

  p {
    margin: auto;
    font-size: 18px
  }  
}

nav {
  text-align: right;
  padding: 0px 10px 0px 0px !important;

  ul {
    list-style: none;
 }

  .active {
    text-decoration: underline !important;
  }
}

nav ul li.tag-h2 a {
  font-weight: bold;
}

.nav-link {
  padding: .1rem 1rem;
}


#area {
  height: calc(100vh - 156px);
  border: solid white 10px;
  margin: 0px -15px;
}

#nav {
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 10px;
}

#scrollable {
  height: 100%;
  overflow-y: scroll;
}

#content {
  padding: 30px 30px 50px 30px;
  border-radius: 3px;
  border: 1px solid #cbcbcb;
  max-width: 750px;
  }


::-webkit-scrollbar {
    display: none;
}


@include media-breakpoint-down(sm) {
  nav {
    text-align: center;
  }

  #nav {
    height: initial;
  }

  #area {
    height: calc(100vh - 50px);
  }
}


@include media-breakpoint-up(md) {
  #header {
    display: block;
  }
}


@media print {
  #header {
    display: block;
    text-align: left;
    padding-bottom: 40px;
  }

  .nav {
    display: none;
  }

  #nav {
    height: initial;
  }

  #scrollable {
    height: initial;
    overflow-y: initial;
    max-width: 100%;
    width: initial;
    flex: initial;
  }

  #content {
    border: none;
    max-width: initial;
    padding-top: 10px;
  }
}
