---
---

@import "{{ site.theme }}";

body {
  background: white;
}

.wrapper {
  width:850px;
  margin:0 auto;
  position:relative;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  background: none;
  margin: 0 0 20px;
}

ul {
  list-style-image: none;
}

li {
  margin-left: -1.5em
}

header {
  padding: 10px 20px 10px 20px;
  background: white;
  box-shadow: none;
  border: 1px solid #cbcbcb;

  h1 {
    font: 40px/48px 'Copse', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;
    text-shadow: initial;
  }

  p {
    color: black;
    text-shadow: none;
  }
}

section {
  width: 750px;
  padding: 30px 30px 50px 30px;
  margin: 20px 0;
  margin-top: 190px;
  margin-left: 50px;
  position: relative;
  background: white;
  border-radius: 3px;
  border: 1px solid #cbcbcb;
  box-shadow: none;
  }

nav {
  width: 230px;
  position: fixed;
  top: 190px;
  left: 45%;

  ul {
    a {
      color: initial;
      &:hover { color: #999; }
    }
  }
}

nav ul li.tag-h2 {
  font-size: 1.2em;
  }

nav ul li.tag-h2 a {
  font-weight: bold;
  }

nav ul li.tag-h3 + .tag-h2 {
  margin-top: 10px;
  }

a {
  color: initial;
  &:hover { color: #999; }
}
